<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styleRegistro.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <title>Ventas</title>
</head>
<body>

<header>
  <%- include('nav'); %>
</header>

<main class="container my-5">
  <h1 class="mb-4">Lista de Pedidos</h1>
  <table id="Pedidos" class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Estado</th>
        <th scope="col">PDF</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% Producto.forEach((Producto) => { %>
        <tr>
          <td><%= Producto.Cliente %></td>
          <td><%= Producto.Estado %></td>
          <td><a href="/pdf?file=<%= Producto.Url %>" class="text-light" target="_blank">Pedido</a></td>
          <td>
            <a type="button" class="btn btn-outline-primary bi bi-pencil" aria-label="Editar"></a>
            <button type="button" class="btn btn-outline-danger bi bi-trash" aria-label="Eliminar" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="<%= Producto.id %>"></button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
</body>
</html>
